

.container {
    background-color: aqua;
    width:430px;
    height: 100vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow:hidden;
    align-items: center;
    justify-content:center ;
    display: flex;
}

.hello {
    font-size : 1em;
}